body{
    margin: 0px;
    padding: 0px;
    background-color: #e7e7e7;
 
}
 
    
.entrar-b{
   margin: auto;
    border-radius: 15px;
    background-color: #d9d9d9;
    width: 50%;
    margin-top: 100px;
    justify-items: center;
    text-align: center;
    width: 394px;
    height: 335px;
    border-color: #d9d9d9;


    
    
    

}
 img{
    width: 153px;
    height: 115px;
    text-align: center;
    justify-content: center;
    left: 332px;
    padding: 20px;
 }


 header{
    text-align: center;
    background-color: white;
    font-weight: 400;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #04c9f4;
    line-height: 14.52px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-items: center;
    

 
}
input{
    height: 46px;
    top: 300px;
    left: 246px;
    justify-content: center;
    width: 330px;
    margin: 5px; 
    border: solid;
    border: white;
    font-size: 14px;
    line-height: 16.94px;
    
   
   
}


.entrar-button{

text-align: center;
justify-items: center;
width: 160px;
height: 44px;
background-color: #04c9f4;
margin: 5px;
border: solid;
border: #04c9f4;
font-size: 14px;
line-height: 16.94px;
color: white;
}



